<a href="https://colab.research.google.com/github/Ashara-kosi/customerResponse/blob/main/Customer_Response.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import string 
import nltk
%matplotlib inline 
from nltk.corpus import stopwords
from wordcloud import WordCloud, STOPWORDS
import spacy
import nltk
!pip install tweet-preprocessor
import preprocessor as p

Requirement already satisfied: tweet-preprocessor in /usr/local/lib/python3.7/dist-packages (0.6.0)

In [ ]:
tweets = pd.read_csv('/content/drive/MyDrive/twcs/twcs.csv')

In [ ]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2811774 entries, 0 to 2811773
Data columns (total 7 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tweet_id                 int64
 1   author_id                object
 2   inbound                  bool
 3   created_at               object
 4   text                     object
 5   response_tweet_id        object
 6   in_response_to_tweet_id  float64
dtypes: bool(1), float64(1), int64(1), object(4)
memory usage: 131.4+ MB

In [ ]:
tweets.isna().sum()

tweet_id                         0
author_id                        0
inbound                          0
created_at                       0
text                             0
response_tweet_id          1040629
in_response_to_tweet_id     794335
dtype: int64

In [ ]:
#removing null values
tweets = tweets.dropna()

In [ ]:
tweets.isna().sum()

tweet_id                   0
author_id                  0
inbound                    0
created_at                 0
text                       0
response_tweet_id          0
in_response_to_tweet_id    0
dtype: int64

In [ ]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 976810 entries, 0 to 2811760
Data columns (total 7 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tweet_id                 976810 non-null  int64
 1   author_id                976810 non-null  object
 2   inbound                  976810 non-null  bool
 3   created_at               976810 non-null  object
 4   text                     976810 non-null  object
 5   response_tweet_id        976810 non-null  object
 6   in_response_to_tweet_id  976810 non-null  float64
dtypes: bool(1), float64(1), int64(1), object(4)
memory usage: 53.1+ MB

In [ ]:
#using the preprocessing libray to clean text
def preprocess_tweet(row):
    text = row['text']
    text = p.clean(text)
    return text

tweets['clean_tweet'] = tweets.apply(preprocess_tweet,axis=1)

In [ ]:
tweets.head(10)

    tweet_id  ...                                        clean_tweet
0          1  ...  I understand. I would like to assist you. We w...
2          3  ...  I have sent several private messages and no on...
3          4  ...  Please send us a Private Message so that we ca...
4          5  ...                                             I did.
5          6  ...  Can you please send us a private message, so t...
8         12  ...  You gonna magically change your connectivity f...
9         15  ...  We understand your concerns and we'd like for ...
10        16  ...            Since I signed up with you....Since day
11        17  ...  H there! We'd definitely like to work with you...
15        21  ...                 What information is incorrect? ^JK

[10 rows x 8 columns]

In [ ]:
#first step of preprocessing text data
#lowercasing
tweets['new_text'] = tweets['clean_tweet'].str.lower()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
tweets.head()

   tweet_id  ...                                           new_text
0         1  ...  i understand. i would like to assist you. we w...
2         3  ...  i have sent several private messages and no on...
3         4  ...  please send us a private message so that we ca...
4         5  ...                                             i did.
5         6  ...  can you please send us a private message, so t...

[5 rows x 9 columns]

In [ ]:
#removing punctuations

In [ ]:
tweets['new_text'] = tweets['new_text'].str.replace('[^\w\s]','')
tweets.head(10)

    tweet_id  ...                                           new_text
0          1  ...  i understand i would like to assist you we wou...
2          3  ...  i have sent several private messages and no on...
3          4  ...  please send us a private message so that we ca...
4          5  ...                                              i did
5          6  ...  can you please send us a private message so th...
8         12  ...  you gonna magically change your connectivity f...
9         15  ...  we understand your concerns and wed like for y...
10        16  ...                since i signed up with yousince day
11        17  ...  h there wed definitely like to work with you o...
15        21  ...                   what information is incorrect jk

[10 rows x 9 columns]

In [ ]:

nltk.download('stopwords')
stop = stopwords.words('english')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
#removing stopwords
tweets['new_text'] = tweets['new_text'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))

In [ ]:
tweets.head(10)

    tweet_id  ...                                           new_text
0          1  ...  understand would like assist would need get pr...
2          3  ...  sent several private messages one responding u...
3          4  ...  please send us private message assist click me...
4          5  ...
5          6  ...  please send us private message gain details ac...
8         12  ...   gonna magically change connectivity whole family
9         15  ...  understand concerns wed like please send us di...
10        16  ...                          since signed yousince day
11        17  ...  h wed definitely like work long experiencing i...
15        21  ...                           information incorrect jk

[10 rows x 9 columns]

In [ ]:
#using spacy to lemmanize
nlp = spacy.load('en', disable=['parser', 'ner'])
def space(comment):
    doc = nlp(comment)
    return " ".join([token.lemma_ for token in doc])
tweets['new_text']= tweets['new_text'].apply(space)

In [ ]:
# nltk.download('punkt')
# from nltk.tokenize import word_tokenize
# from nltk.stem import  SnowballStemmer

# snowball = SnowballStemmer(language = 'english')
# text = tweets['new_text']
# def stem(data):
#   doc = snow
#   return " ".join([snowball.stem for token in tokenized_eu])
#   #porter_eu = [snowball.stem(word) for word in tokenized_eu]
# tweets['new_text']= tweets['new_text'].apply(stem)
# # print(text)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

TypeError: ignored

In [ ]:
tweets.head(10)

In [ ]:
#removal of stopwords

cleaned_text = tweets['new_text']
cleaned_text.to_csv('cleaned_text.csv')

In [ ]:
nltk.download('punkt')
#finding out the most frequently used words
line = tweets['new_text'].str.cat(sep=' ')
print(line)
words = nltk.tokenize.word_tokenize(line)
word_dist = nltk.FreqDist(words)
dff = pd.DataFrame(word_dist.most_common(), 
                    columns=['Word', 'Frequency'])
dff['Word_Count'] = dff.Word.apply(len)
dff.head(20)

In [ ]:
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk.sentiment.util import *
#Sentiment Analysis
SIA = SentimentIntensityAnalyzer()
tweets["new_text"]= tweets["new_text"].astype(str)
# Applying Model, Variable Creation
tweets['Polarity Score']=tweets["new_text"].apply(lambda x:SIA.polarity_scores(x)['compound'])
tweets['Neutral Score']=tweets["new_text"].apply(lambda x:SIA.polarity_scores(x)['neu'])
tweets['Negative Score']=tweets["new_text"].apply(lambda x:SIA.polarity_scores(x)['neg'])
tweets['Positive Score']=tweets["new_text"].apply(lambda x:SIA.polarity_scores(x)['pos'])
# Converting 0 to 1 Decimal Score to a Categorical Variable
tweets['Sentiment']=''
tweets.loc[tweets['Polarity Score']>0,'Sentiment']='Positive'
tweets.loc[tweets['Polarity Score']==0,'Sentiment']='Neutral'
tweets.loc[tweets['Polarity Score']<0,'Sentiment']='Negative'

In [ ]:
tweets.head(20)

    tweet_id       author_id  inbound  ... Negative Score Positive Score Sentiment
0          1      sprintcare    False  ...          0.000          0.353  Positive
2          3          115712     True  ...          0.000          0.000   Neutral
3          4      sprintcare    False  ...          0.000          0.339  Positive
4          5          115712     True  ...          0.000          0.000   Neutral
5          6      sprintcare    False  ...          0.000          0.487  Positive
8         12          115713     True  ...          0.000          0.000   Neutral
9         15      sprintcare    False  ...          0.000          0.324  Positive
10        16          115713     True  ...          0.000          0.000   Neutral
11        17      sprintcare    False  ...          0.000          0.426  Positive
15        21    Ask_Spectrum    False  ...          0.000          0.487  Positive
16        22          115716     True  ...          0.000          0.238  Positive
17        25    Ask_Spectrum    False  ...          0.000          0.000   Neutral
18        26          115716     True  ...          0.000          0.333  Positive
21        24          115716     True  ...          0.000          0.000   Neutral
22        28    Ask_Spectrum    False  ...          0.000          0.000   Neutral
28        34  VerizonSupport    False  ...          0.412          0.278  Negative
29        35          115719     True  ...          0.000          0.634  Positive
34        40  VerizonSupport    False  ...          0.000          0.277  Positive
35        41          115721     True  ...          0.359          0.225  Negative
36        43  VerizonSupport    False  ...          0.000          0.000   Neutral

[20 rows x 14 columns]

In [ ]:
 tweets['Sentiment'].value_counts()

Positive    507629
Neutral     276558
Negative    192623
Name: Sentiment, dtype: int64

In [ ]:
data = tweets[['Sentiment','new_text']]
data

        Sentiment                                           new_text
0        Positive  understand would like assist would need get pr...
2         Neutral     send several private message one respond usual
3        Positive  please send -PRON- private message assist clic...
4         Neutral
5        Positive  please send -PRON- private message gain detail...
...           ...                                                ...
2811718  Negative  sorry hear james staff make way however feed b...
2811728   Neutral  london bind trains route bromley south amp lon...
2811736  Positive  hello sound good dm account name complete serv...
2811739  Negative  hi natalie do not sound good follow -PRON- dm ...
2811760  Negative  hi apologie inconvenience backlog queue due ma...

[976810 rows x 2 columns]

In [ ]:
data = data.replace({'Neutral':0,'Negative':1,'Positive':2})

In [ ]:
data.head()

   Sentiment                                           new_text
0          2  understand would like assist would need get pr...
2          0     send several private message one respond usual
3          2  please send -PRON- private message assist clic...
4          0
5          2  please send -PRON- private message gain detail...

In [ ]:
#seperating the dataset into dependent and independent variables
y = data.iloc[:,0]
y

0          2
2          0
3          2
4          0
5          2
          ..
2811718    1
2811728    0
2811736    2
2811739    1
2811760    1
Name: Sentiment, Length: 976810, dtype: int64

In [ ]:
x = data.iloc[:,1]
x

0          understand would like assist would need get pr...
2             send several private message one respond usual
3          please send -PRON- private message assist clic...
4
5          please send -PRON- private message gain detail...
                                 ...
2811718    sorry hear james staff make way however feed b...
2811728    london bind trains route bromley south amp lon...
2811736    hello sound good dm account name complete serv...
2811739    hi natalie do not sound good follow -PRON- dm ...
2811760    hi apologie inconvenience backlog queue due ma...
Name: new_text, Length: 976810, dtype: object

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import confusion_matrix

In [ ]:
#using count vectorizer to convert the text to matrix
vectorizer = CountVectorizer(lowercase=False)
x_vec = vectorizer.fit_transform(x)

In [ ]:
#converting the sparse matrix to dense
x_vec = x_vec.todense()
x_vec